.ajaxPopup { 
    position:absolute; width:250px; background-color:white;
    border:1px solid #888; margin:0px; padding:0px;
    overflow: hidden; 
 }

 .ajaxPopup li {
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
 }
.ajaxPopup li.selected {
    background-color: #ffb;
}
.ajaxPopup ul {
    list-style-type:none;margin:0px;padding:0px;
}

.ajaxTable{
    font-family: Verdana, sans-serif;
	font-size: 11px;
	background-color: rgb(171, 202, 219);
    color: rgb(0, 106, 164);
    line-height: 16px;
    border-collapse:collapse;
    table-layout:auto;
}

.ajaxTablePopup{
  position:absolute;
  z-index:10000;
}


.ajaxNextTablePageField{
    background-color:#bcd5e2;
    font-weight:bold;
    text-align:center;
    color: rgb(0, 106, 164);
}

.tableSuggestHover{
    background-color:#bcd5e2;
}

.tableSuggestOut{
  background-color:rgb(171, 202, 219);
}

.ajaxTable thead tr th{
text-align:center;
}

input.myFacesInputSuggestAjax{
	background: url('throbber.gif') no-repeat 100% 2px;
    background-color: white;
}

input.myFacesInputSuggestAjaxThrobbing{
	background-position: 100% -18px;
}