# These are local build properties

commons-beanutils.jar    = d:/open-source/myfaces/lib/commons-beanutils.jar
commons-codec.jar        = d:/open-source/myfaces/lib/commons-codec.jar
commons-collections.jar  = d:/open-source/myfaces/lib/commons-collections.jar
commons-digester.jar     = d:/open-source/myfaces/lib/commons-digester.jar
commons-el.jar           = d:/open-source/myfaces/lib/commons-el.jar    
commons-fileupload.jar   = d:/open-source/myfaces/lib/commons-fileupload.jar
commons-logging.jar      = d:/open-source/myfaces/lib/commons-logging.jar
commons-validator.jar    = d:/open-source/myfaces/lib/commons-validator.jar
jakarta-oro.jar          = d:/open-source/myfaces/lib/jakarta-oro.jar
jsp.jar                  = d:/open-source/myfaces/lib/jsp.jar
jstl.jar                 = d:/open-source/myfaces/lib/jstl.jar
portlet-api.jar          = d:/open-source/myfaces/lib/portlet-api.jar
servlet-api.jar          = d:/open-source/myfaces/lib/servlet-api.jar
struts.jar               = d:/open-source/myfaces/lib/struts.jar
tlddoc.jar               = d:/open-source/myfaces/lib/tlddoc.jar
xdoclet.jar              = d:/open-source/myfaces/lib/xdoclet.jar
xjavadoc.jar             = d:/open-source/myfaces/lib/xjavadoc.jar