/* This is the default theme for the schedule and planner components */

/* PART I: Detailed Day Renderer */

div.schedule-detailed {
 	border-style: solid;
	border-width: 1px;
	border-color: rgb(163,177,140);
	position: relative;
	width: 100%;
	left: 0px;
    right: 0px;
}

div.schedule-detailed table.background {
    background-color: rgb(255,255,255);
}

div.schedule-detailed td.gutter {
    background-color: rgb(205,214,198);
    color: rgb(0,0,0);
    text-align: right;
    vertical-align: top;
}

div.schedule-detailed table.background td.header, div.schedule-detailed table.foreground td.header {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    color: rgb(0,0,0);
    text-align: center;
    vertical-align: middle;
}

div.schedule-detailed table.background td.header {
    background-color: rgb(205,214,198);
}

div.schedule-detailed td.header span.date, div.schedule-detailed td.header span.holiday {
  text-align: center;
}

div.schedule-detailed td.header span.date {
}

div.schedule-detailed td.header span.holiday {
}

div.schedule-detailed td.gutter span.hours {
    font-size: 26px;
}

div.schedule-detailed td.gutter span.minutes {
    font-size: 13px;
}

div.schedule-detailed table.background td.even,
div.schedule-detailed table.background td.uneven,
div.schedule-detailed table.background td.free {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    text-align: center;
}

div.schedule-detailed table.background td.uneven {
    background-color: rgb(240,244,233);
    color: rgb(240,244,233);
}

div.schedule-detailed table.background td.even {
    background-color: rgb(235,239,228);
    color: rgb(235,239,228);
}

div.schedule-detailed table.background td.free {
	background-color: rgb(215,219,208);
	color: rgb(215,219,208);
}

div.schedule-detailed .entry, div.schedule-detailed div.entry-selected {
  background-color: rgb(255,255,255);
  text-align: center;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  vertical-align: middle;
  border-color: rgb(0,0,0);
  text-decoration: none;
}

div.schedule-detailed a.entry:hover,
div.schedule-detailed div.entry-selected {
  border-color: rgb(153,204,51);
}

div.schedule-detailed div.entry-selected div.text {
  border-left: solid rgb(153,204,51) 5.0px;
}

div.schedule-detailed .entry span.subtitle,
div.schedule-detailed .entry-selected span.subtitle {
	font-style: italic;
	font-size: 9px;
}

div.schedule-detailed .entry span.title,
div.schedule-detailed .entry-selected span.title {
	font-size: 11px;
}



/* PART II: Compact Renderer */
div.schedule-compact {
	position: relative;
	width: 100%;
	left: 0px;
	background-color: rgb(163,177,140);
}

div.schedule-compact table.day {
  background-color: rgb(255,255,255);
}

div.schedule-compact table.day td.header {
  background-color: rgb(205,214,198);
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 10px;
  color: rgb(0,0,0);
  text-align: left;
  vertical-align: middle;
}

div.schedule-compact td.content div {
}

div.schedule-compact td.content td {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  text-align: left;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  padding: 1px;
  border-color: rgb(255,255,255);
  border-width: 1.0px;
  border-style: solid;  
}

div.schedule-compact a {
  text-decoration: none;
  color: rgb(0,0,0);
  text-align: left;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

div.schedule-compact td.content td.selected {
  background-color: rgb(153,204,51);
  border-color: rgb(153,204,51);
}

div.schedule-compact td.inactive-day td.content {
  background-color: rgb(205,214,198);
  visibility: visible;
}

div.schedule-compact td.inactive-day td.header {
  background-color: rgb(205,214,198);
  visibility: visible;
}



/* Part III: Planner renderer */
div.planner {
 	border-style: solid;
	border-width: 1px;
	border-color: rgb(163,177,140);
	position: relative;
	width: 100%;
	left: 0px;
}

div.planner table.background {
    background-color: rgb(255,255,255);
}

div.planner div.background td.gutter, div.planner div.foreground td.gutter {
    color: rgb(0,0,0);
    text-align: right;
}

div.planner div.background td.gutter {
    background-color: rgb(205,214,198);
}


div.planner div.background td.header, div.planner div.foreground td.header, div.planner div.background td.hours {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    color: rgb(0,0,0);
    text-align: center;
    vertical-align: middle;
    border-style: none;
    border-width: 0px;
}

div.planner div.background td.hours {
	border-color: rgb(255,255,255);
    background-color: rgb(205,214,198);
}

div.planner div.foreground td.hours {
    text-align: center;
    vertical-align: middle;
}

div.planner div.background td.header {
    background-color: rgb(205,214,198);
}

div.planner div.background div.header span.date {
  text-align: left;
  font-weight: bold;
  vertical-align: top;
}

div.planner div.background div.header span.holiday {
  text-align: left;
  vertical-align: top;
}

div.planner div.background div.header span.hours {
  text-align: left;
  vertical-align: middle;
}

div.planner td.gutter span.title {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    vertical-align: middle;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
}

div.planner td.even, div.planner td.uneven, div.planner td.free {
    border-color : rgb(255,255,255);
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    text-align: center;
}

div.planner td.uneven {
    background-color: rgb(240,244,233);
    color: rgb(240,244,233);
}

div.planner td.even {
    background-color: rgb(235,239,228);
    color: rgb(235,239,228);
}

div.planner td.free {
	background-color: rgb(215,219,208);
	color: rgb(215,219,208);
}

div.planner table.foreground td.row {
  border-color: rgb(255,255,255);
}

div.planner div.row div.entry {
  background-color: rgb(0,0,255);
  vertical-align: middle;
  text-decoration: none;
}



/* PART IV: Tooltips */
div.domTT {
    border: 1px solid #333366;
    background-color: #333366;
}
div.domTT .caption {
    font-family: Verdana, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
}
div.domTT .contents {
    font-size: 10px;
    font-family: Verdana, Helvetica;
    padding: 2px;
    background-color: #F1F1FF;
}
