.org_apache_myfaces_passwordStrength_progress_indicatorMessage {
    color: white;
    background: gray;
    font-size: 12px;
    padding: 3;
}

/**
* core class with a default width style
* basically the progress container styleclass
*/
.org_apache_myfaces_passwordStrength_progress {
    float: left;
    border: 1px solid silver;
    width: 100px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px; /*v-center for ie6*/
    display: block;
    overflow: hidden;
}

/**
color definition for the progress start
*/
.org_apache_myfaces_passwordStrength_progress .progressVeryWeak,
    .org_apache_myfaces_passwordStrength_progress .progressStrong,
    .org_apache_myfaces_passwordStrength_progress .progressWeak,
    .org_apache_myfaces_passwordStrength_progress .progressPoor {
    background-color: blue; /*only the left border must be set*/
    border: 0px;
    width: 1px;
    height: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; /*v-center for ie6*/
    display: block;
}

/**
* Valid color setting if not overridden
*/
.org_apache_myfaces_passwordStrength_progress .progressStrong {
    background-color: green;

}

/**
* Weak color setting
*/
.org_apache_myfaces_passwordStrength_progress .progressVeryWeak {
    background-color: #ff8c00;

}

.org_apache_myfaces_passwordStrength_progress .progressWeak {
    background-color: yellow;

}

/**
* Invalid color setting
*/
.org_apache_myfaces_passwordStrength_progress .progressPoor {
    background-color: red;
}
