.modalDialogDecoration
{
	border-style: none;
}

.modalDialogTitle
{
	background-color: #6996cd;
	color: white;
	height: 20px;
	vertical-align: middle;
}

.modalDialogTitleLeft
{
	text-align: left;
	white-space: nowrap;
}

.modalDialogTitleRight
{
	text-align: right;
	white-space: nowrap;
}

.modalDialogCloser
{
	width: 12px;
	height: 12px;
}

.modalDialogContent
{
	vertical-align: top;
	background-color: white;
	color: black;
}