.dojoDialogSpeller {
	   background : #fff;
       border  : 1px;
       border-style: solid;
       border-color: black;
       position: fixed;
}

.pagelet {
	   background : #fff;
       border  : 1px;
       border-style: solid;
       border-color: black;
}

.pagelet_inactive {
	border  : 1px;
    border-style: solid;
    border-color: black;
	background: #eee;
}

.pagelet_readonly {
	border  : 1px;
    border-style: solid;
    border-color: black;
	background: #eee;
}


.myfaces_SpellingError {
	background-color: yellow;
	border: 1px solid #999;
}

.myfaces_SuggestEntry {
	color: blue;
	cursor: pointer;
}